.air {
  background-color: $white;
  padding: 2em 1em;
  width: 30%;
  color: $text;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
  @media only screen and (max-width:600px) {
   margin-top: 2em;
    width: 100%;
  }
}
.air-quality {
  display: flex;
  justify-content: space-between;
  &-text {
    margin-left: 1em;
    align-self: center;
  }
  &-box {
    color: $white;
    width: 4em;
    height: 4em;
    text-align: center;
    line-height: 4em;
  }
}

.air-pm25, 
.air-pm10, 
.air-temperature,
.air-pressure,
.air-humidity {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}

.air-pm25 span,
.air-pm10 span,
.air-temperature span,
.air-pressure span,
.air-humidity span {
  font-weight: 400;
  display: inline-block;
  margin-left: auto;
}