.footer {
  width: 100%;
  align-self: flex-end;
  color: $text;
  padding: 1em 0;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
  @media only screen and (max-width: 600px) {
    margin-top: 2em;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
    text-align: center;
  }
}
.footer__author {
  @media only screen and (max-width: 600px) {
    margin: .75em auto 0 auto;
  }
}
.footer__link {
  color: $red;
  text-decoration: none;
  &:hover {
    color: darken($color: $red, $amount: 15);
  }
 
}
.footer__made {
  span{
    padding: 0 .15em; 
    color: red;
  }
  @media only screen and (max-width: 600px) {
    display: inline-block;
    width: 100%;
  }
}