.ap-input {
    width: 400px;
    @media only screen and (max-width:600px) {
      width: 100%;
    }
    &:focus {
      border-color: $gray;
    }
}
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  min-width: 300px;
  @media only screen and (max-width:600px) {
    min-width: 0;
    width: 100%;
    margin: 0 auto;
  }
}

.geosuggest__input {
  width: 100%;
  position: relative;
  color: $text;
  padding: .75em 0;
  transition: 200ms ease all;
  background-color: $light-gray;
  border: 1px solid $light-gray;
  padding-left: .5em;
  
  &:hover,
  &:focus {
    border-color: $gray;
  }
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: 0px;
  background: $white;
  border: 1px solid $gray;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
  position: relative;
  color: $text;
  &:hover {
    color: darken($color: $text, $amount: 30);
    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      bottom: 2px;
      width: 4px;
      background-color: darken($color: $text, $amount: 30);
    }
  }
}

.geosuggest__item--active {
  background: darken($color: $text, $amount: 30);;
  color: #fff;
}

.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}

.geosuggest__item__matched-text {
  font-weight: 900;
}

