.air-map {
  width: 65%;
  margin-left: auto;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);

  @media only screen and (max-width:600px) {
    width: 100%;
    height: 80vh;
    margin-top: 2em;
  }
  
}