body {
  background-color: $body-white;
}

.nav {
  width: 100%;
  background-color: $white;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    padding: .75em;
    flex-wrap: wrap;
  }
}

.nav__logo {
  color: $gray;
  @media only screen and (max-width: 600px) {
    text-align: center;
    width: 100%;
  }
}

.nav__search {
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
    width: 100%;
  }
}

#nav__svg {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

#nav__icon {
  fill: $red;
}

.nav__group {
  display: flex;
  @media only screen and (max-width: 600px) {
    width: 100%;
    margin-top: 1em;
    justify-content: center;
  }
}

.nav__btn {
  margin: 0;
  color: #fff;
  border: 1px solid $red;
  background-color: $red;
  padding: .75em 3em;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin: 0 .5em;
  transition: 200ms ease all;
  &:hover {
    background-color: darken($color: $red, $amount: 5);
    box-shadow: 1px 1px 10px 5px rgba($color: $red, $alpha: 0.25);
  }
}

.nav__btn--geolocation {
  cursor: pointer;
  background: transparent;
  border: 0;
  &:hover {
    #nav__icon {
      fill: darken($color: $red, $amount: 5);
      box-shadow: 1px 1px 10px 5px rgba($color: $red, $alpha: 0.25);
    }
  }
}