.App {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

}
.container__app {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  @media only screen and (max-width:600px) {
    margin-top: 1em;
  }
  
}